<div class="home-header">
  <h1 id="title" class="program-title">Créer votre Question</h1>
</div>
<div class="container">
  <% if @question.id.nil? %>



  <h2>Question: <%= @question.question %></h2>
   <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <%= simple_form_for [@questionnaire, @question] do |f| %>
          <%= f.input :question, :label => "Rentrez votre question: "%>
          <%= f.submit 'Ajouter', class:"btn-restart btn-red"%>
        <% end %>
      </ul>
    </div>
  </div>

  <% else %>

  <h1>Nom du questionnaire: <%= @question.questionnaire.title %></h1>
  <h2><%= @question.question %></h2>

    <% if @answer.id.nil? %>

  <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <%= simple_form_for @answer, url: answers_path, method: :post do |f| %>
          <%= f.input :answer, :label => "Rentrez une réponse à la question: "%>
          <%= f.hidden_field :question_id, :value => @question.id %>
          <%= f.submit 'Ajouter', class:"btn-restart btn-red"%>
        <% end %>
      </ul>
    </div>
  </div>

    <% else %>

  <h3><%= @answer.answer %></h3>

    <% if @program.id.nil? %>

 <div class="grid">
  <div class="f-new">
    <ul class="new-form">
      <%= simple_form_for @program, url: programs_path, method: :post  do |f| %>
        <!-- [...] -->
        <%= f.input :content, :label => "Saisissez l'élément du programme relatif à cette réponse"%>
        <%= f.hidden_field :answer_id, :value => @answer.id %>
        <%= f.submit 'Créer'%>
        <!-- [...] -->
      <% end %>
    </ul>
  </div>
</div>

  <% else %>

    <p><%= @program.content %></p>
<br>
<br>
<br>
     <%= link_to "Ajouter une réponse", questions_new_path(:question_id=> @question.id), class:"btn-restart btn-red"  %>
     <%= link_to "Question Suivante", questions_new_path(:questionnaire_id=>@question.questionnaire), class:"btn-restart btn-orange" %>
     <%= link_to "Afficher Questionnaire", questionnaire_path(@question.questionnaire), class:"btn-restart btn-green" %>
  <% end %>

    <% end  %>
<br>
<br>
<br><!--
<div>Réponses à la question: </div>

  <%# @answers.each do |answer|  %>
    <h3><%#= answer.answer %></h3>
    <p><%#= answer.program_to_answers.first.program.content %></p>
  <#% end %>
 -->
<% end  %>

</div>
