<div class="home-header">
  <h1 class="program-title">Mon programme pour <%= @city.name %></h1>
</div>
<br>
</div>
<div><%= link_to "Retour à l'acceuil", root_path, class: "btn-add" %>
</div>

<div class="container">
<% @categories.each do |category| %>
  <div class="encart-program">
    <div class="cat-title">
      <h1><%= category.name %></h1>
    </div>
  </div>
  <% @interviews.where(category: category).each do |interview| %>
    <h4><%= interview.questionnaire.title %></h4>
    <% interview.user_programs.each do |user_program| %>
      <p><%= user_program.program %></p>
      <%= link_to "", edit_user_program_path(user_program), class: "fa fa-edit" %>
    <% end %>
  <% end %>
<% end %>
</div>
