<div class="home-header">
  <h1 class="program-title">Mon programme pour <strong><%= @city.name %></strong></h1>
</div>
<br>
</div>
<div class="container">
<% @categories.each do |category| %>
  <div class="show-program">
    <div class="cat-title">
      <h1><%= category.name %></h1>
    </div>
  </div>
  <% @interviews.where(category: category).order(:order).each do |interview| %>
    <h4><%= interview.questionnaire.title %></h4>
    <% interview.user_programs.order(:created_at).each do |user_program| %>
    <p><%= user_program.program %></p>
    <%= link_to "", edit_user_program_path(user_program), class: "fa fa-edit" %>
    <%= link_to "", user_program_path(user_program), method: :delete, class: "fa fa-remove" %>
    <% end %>
  <% end %>
  <% @deputies.where(category: category).each do |deputy|%>
  <div class="user-prog-dep">
    <div class="deputy_details-full">
      <div class="dep-details-photo">
        <div class="dep-details">
          <h2><%= deputy.first_name %> <%= deputy.last_name %></h2>
          <p><strong>Profession: </strong><%= deputy.profession %></p>
          <p><strong>Situation familliale: </strong><%= deputy.family %></p>
          <p><strong>Adresse: </strong><%= deputy.address %></p>
        </div>
        <% if deputy[:photo].nil? %>
        <%= image_tag "empty_photo.jpg", class: "deputy-photo" %>
        <% else %>
        <%= cl_image_tag deputy.photo, class: "deputy-photo" %>
        <% end %>
      </div>
      <div class="dep-description">
        <p><strong>Descriptif:</strong></p>
        <%= deputy.description %>
      </div>
      <br>
      <%= link_to "", edit_deputy_path(deputy), class: "fa fa-edit" %>
      <a type="button" class="delete-deputy-button fa fa-remove" onClick="deleteDep(this.id)"></a>
      <%= link_to "", deputy_path(deputy), method: :delete, class:"hidden delete-deputy"%>
    </div>
  </div>
  <% end  %>
<% end %>
</div>
<br>
<br>
<br>

