<div class="home-header">
  <h1 class="program-title">Mon programme pour <strong><%= @city.name %></strong></h1>
</div>
<br>
</div>
<div class="container">
  <div class="show-program">
    <div class="cat-title">
      <h1><%= @category.name %></h1>
    </div>
    <br>
  </div>
    <% if @photo.nil? %>
      <p class="notice centerize">Ajouter une illustration</p>
      <a id="photo-<%= @category.name %>" class= "fa fa-plus-circle centerize" onClick="addPhoto(this.id)"></a>
      <div class = "hidden">
        <%= simple_form_for Photo.new do |f| %>
        <%= f.input :photo, :input_html => {id: "add-photo-#{@category.name}", onchange:"loadPhoto(this.id)"} %>
        <%= f.hidden_field :category_id, :value => @category.id %>
        <%= f.submit id: "btn-add-photo-#{@category.name}" %>
        <% end %>
      </div>
    <% else %>
      <div class="card centerize" style="background-image: url('<%= cl_image_path @photos.where(category_id: @category.id)[0].photo, height: 300, width: 400, crop: :fill %>')">
        <a type="button" id= "del-photo-<%= @category.name %>" onClick="deletePhoto(this.id)" class= "fa fa-trash del-pos-card"></a>
        <%= link_to "", photo_path(@photos.where(category_id: @category.id)[0].id), method: :delete, id: "btn-del-photo-#{@category.name}", class: "hidden"  %>
      </div>
    <% end %>
  <br>
  <p class="notice">Vous pouvez modifier vos éléments de programme en cliquant dessus</p>
  <% @interviews.where(category: @category).each do |interview| %>
  <div>
    <h4><%= interview.questionnaire.title %></h4>
    <% interview.user_programs.order(:created_at).each do |user_program| %>
    <div class = "<%= "upd-u-#{user_program.id}" %>">
      <p class="user-prog <%= "u-#{user_program.id}" %>" onClick="toggleQ(this.className)"><%= user_program.program %></p>
    </div>
    <div class="<%="form-u-#{user_program.id}"%> hidden">
      <%= simple_form_for user_program, remote: true do |f| %>
      <%= f.input :program, as: :text, :label => "Programme: ", :input_html => {rows: 5, class: "u-#{user_program.id}", :onblur => "toggleBlur(this.className)"} %>
      <%= f.hidden_field :interview_id %>
      <%= f.submit 'Modifier', id:"btn-u-#{user_program.id}", class: "hidden"%>
      <% end %>
    </div>
    <%#= link_to "", edit_user_program_path(user_program), class: "fa fa-edit" %>
    <%#= link_to "", user_program_path(user_program), method: :delete, class: "fa fa-remove" %>
    <% end %>
  </div>
  <% end %>
  <% @deputies.where(category: @category).each do |deputy|%>
  <div class="user-prog-dep">
    <div class="deputy_details-full">
      <div class="dep-details-photo">
        <div class="dep-details">
          <h2><%= deputy.first_name %> <%= deputy.last_name %></h2>
          <p><strong>Profession: </strong><%= deputy.profession %></p>
          <p><strong>Situation familliale: </strong><%= deputy.family %></p>
          <p><strong>Adresse: </strong><%= deputy.address %></p>
        </div>
        <% if deputy[:photo].nil? %>
        <%= image_tag "empty_photo.jpg", class: "deputy-photo" %>
        <% else %>
        <%= cl_image_tag deputy.photo, class: "deputy-photo" %>
        <% end %>
      </div>
      <div class="dep-description">
        <p><strong>Descriptif:</strong></p>
        <%= deputy.description %>
      </div>
      <br>
      <%= link_to "", edit_deputy_path(deputy), class: "fa fa-edit" %>
      <a type="button" class="delete-deputy-button fa fa-remove" onClick="deleteDep(this.id)"></a>
      <%= link_to "", deputy_path(deputy), method: :delete, class:"hidden delete-deputy"%>
    </div>
  </div>
  <% end  %>
</div>
<br>
<br>
<br>
<%= javascript_pack_tag 'questionnaire' %>

