<div class="home-header">
  <h1 class="program-title"><%= @interview.questionnaire.category.name %></h1>
</div>
<br>
<br>
<div class="container">
  <div class="show-program">
    <div class="cat-title">
      <h1><%= @interview.questionnaire.title %></h1>
    </div>
  </div>
  <div class="show-program border-answer">
    <div class="answer-program">
      <% @user_programs.each do |user_program|%>
      <h4><%= Question.find(user_program.question_id).question %></h4>
      <p class="user-prog"><%= user_program.program %></p>
      <%= link_to "", edit_user_program_path(user_program), class: "fa fa-edit" %>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="centerize">
    <%= link_to "Recommencer le questionnaire", retry_interview_path(@interview), class: "btn-restart btn-red"%>
  </div>
</div>
