<div class="home-header">
  <h1 class="program-title"><%= @interview.questionnaire.category.name %></h1>
</div>
<div class="end_text">Bravo! Vous avez fini le questionnaire
<br>
</div>
<div><%= link_to "Retour à l'acceuil", root_path, class: "btn-add" %>
</div>
<br>
<div><%= link_to "Recommencer le questionnaire", retry_interview_path(@interview), class: "btn-add" %>
</div>
<div class="container">
  <div class="encart-program">
    <div class="cat-title">
      <h1><%= @interview.questionnaire.title %></h1>
    </div>
      <%#= @interview.user_programs[0].program %>
  </div>
    <% @user_programs.each do |user_program|%>
    <h4><%= Question.find(user_program.question_id).question %></h4>
    <p><%= user_program.program %></p>
    <%= link_to "", edit_user_program_path(user_program), class: "fa fa-edit" %>
  <% end %>
</div>
