<div class="home-header">
  <h1 class="program-title"><%= @interview.questionnaire.category.name %></h1>
</div>
<br>
<br>
<div class="container">
  <div class="show-program">
    <div class="cat-title">
      <h1><%= @interview.questionnaire.title %></h1>
    </div>
  </div>
  <p class="notice">Vous pouvez modifier vos réponses en cliquant dessus</p>
  <div class="show-program border-answer">
    <div class="answer-program">
      <% @user_programs.order(:created_at).each do |user_program|%>
      <h4><%= Question.find(user_program.question_id).question %></h4>
      <div class = "<%= "upd-u-#{user_program.id}" %>">
        <p class="user-prog <%= "u-#{user_program.id}" %>" onClick="toggleQ(this.className)"><%= user_program.program %></p>
      </div>
      <div class="<%="form-u-#{user_program.id}"%> hidden">
       <%= simple_form_for user_program, remote: true do |f| %>
         <%= f.input :program, as: :text, :label => "Programme: ", :input_html => {rows: 5, class: "u-#{user_program.id}", :onblur => "toggleBlur(this.className)"} %>
         <%= f.hidden_field :interview_id %>
         <%= f.submit 'Modifier', id:"btn-u-#{user_program.id}", class: "hidden"%>
       <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <br>
  <br>
  <div class="centerize">
    <button type="button" id="retry-button" class="btn-restart btn-red">Recommencer le questionnaire</button>
    <%= link_to "Recommencer le questionnaire", retry_interview_path(@interview), type:"button", class: "hidden", id:"retry"%>
  </div>
</div>
 <%= javascript_pack_tag 'swal_user_prog' %>
<%= javascript_pack_tag 'questionnaire' %>
