<div class="container">
  <h1 id="title"><%= @interview.questionnaire.title %></h3>
    <ul id="question"><%= @question.question%>
      <li>
      <%= link_to @question.answers[0].answer, get_program_interview_path(answers_to_question: @question.answers_to_questions.find_by(answer_id: @question.answers[0]), question: @question), method: :patch, class: 'answer', remote: true%>
      </li>
      <li>
    <%= link_to @question.answers[1].answer, get_program_interview_path(answers_to_question: @question.answers_to_questions.find_by(answer_id: @question.answers[1]), interview: @interview, question: @question), method: :patch, class: 'answer', remote: true%>
      </li>
    </ul>
  <br>
  <br>
     <div class="grid">
      <div class="f-new">
        <ul class="new-form">
          <%= simple_form_for [@interview, @user_program], remote: true do |f| %>
          <%= f.input :program, :label => "Contenu", as: :text, input_html: {rows: 20} %>
          <%= f.hidden_field :question_id, :value => @question.id %>
          <%= f.hidden_field :category_id, :value => @interview.questionnaire.category_id %>
          <%= f.hidden_field :program_id, :value => nil %>
          <%= f.hidden_field :a2q_id, :value => nil %>
          <%= f.submit 'Valider'%>
          <% end %>
        </ul>
      </div>
    </div>
</div>
