<div class="home-header">
  <h1 class="program-title">Modifier votre adjoint</h1>
</div>
<div>
  <%= link_to 'Annuler', deputies_path, class:"btn-add" %>
</div>
<br>
<br>
<div>
<div class="container">
   <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <%= simple_form_for @deputy do |f| %>
          <%= f.input :title, :label => "Titre"%>
          <%= f.input :category_id, :label => "Catégorie",collection: @categories.collect{|category| [category.name, category.id]} %>
          <%= f.input :first_name, :label => "Prénon" %>
          <%= f.input :last_name, :label => "Nom" %>
          <%= f.label :photo, "Ajouter votre photo" %>
          <%= f.file_field :photo %>
          <br>
          <%= f.input :profession, :label => "Profession" %>
          <%= f.input :family, :label => "Situation familliale" %>
          <%= f.input :address, :label => "Adresse" %>
          <%= f.input :description, :label => "Descriptif", input_html: {rows: 10}  %>
          <%= f.submit 'Modifier' %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
