<div class="home-header">
  <h1 class="page_title blue-gray">Mon équipe municipale</h1>
</div>
<div>
    <%= link_to 'Ajouter un adjoint', new_deputy_path, type: "button", class: "btn-restart btn-red" %>
</div>
<br>
<br>
<div class="container">
  <% @deputies.each do |deputy| %>
  <div class="cat-title">
    <h1><%= deputy.title %></h1>
  </div>
  <div class="deputy_details-full">
    <div class="dep-details-photo">
      <div class="dep-details">
        <h2><%= deputy.first_name %> <%= deputy.last_name %></h2>
        <p><strong>Profession: </strong><%= deputy.profession %></p>
        <p><strong>Situation familliale: </strong><%= deputy.family %></p>
        <p><strong>Adresse: </strong><%= deputy.address %></p>
      </div>
      <% if deputy[:photo].nil? %>
      <%= image_tag "empty_photo.jpg", class: "deputy-photo" %>
      <% else %>
      <%= cl_image_tag deputy.photo, class: "deputy-photo" %>
      <% end %>
    </div>
    <div class="dep-description">
      <p><strong>Descriptif:</strong></p>
      <%= deputy.description %>
    </div>
    <br>
    <%= link_to "", edit_deputy_path(deputy), class: "fa fa-edit" %>
    <a type="button" class="delete-deputy-button fa fa-remove" onClick="deleteDep(this.id)"></a>
    <%= link_to "", deputy_path(deputy), method: :delete, class:"hidden delete-deputy"%>
  </div>
  <% end %>
 <%# content_for :after_js do %>
      <!-- method deleteDeputy is defined in app/javascript/packs/swal_deputy.js -->
 <%= javascript_pack_tag 'swal_deputy' %>
  <script>
  const deleteDep = ((clicked_id) => {
    deleteDeputy(clicked_id);
  });
  </script>
</div>
<br>
<br>
<br>
