<div class="home-header">
  <h1 class="page_title">Mon équipe municipale</h1>
</div>
<div>
  <%= link_to ' Ajouter un adjoint', new_deputy_path, class: "btn-add" %>
</div>
<div class="container">
  <% @deputies.each do |deputy| %>
    <div class="encart-program">
      <div class="cat-title">
        <h1><%= deputy.title %></h1>
      </div>
      <%= link_to "", edit_deputy_path(deputy), class: "fa fa-edit" %>
      <%= link_to "", deputy_path(deputy), method: :delete, class: "fa fa-remove" %>
      <div class="dep-details">
        <div>
          <h2><%= deputy.first_name %> <%= deputy.last_name %></h2>
          <p><%= deputy.profession %></p>
        </div>
        <% if deputy[:photo].nil? %>
        <%= image_tag "empty_photo.jpg", class: "deputy-photo" %>
        <% else %>
        <%= cl_image_tag deputy.photo, class: "deputy-photo" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

