<h1>Welcome to deputies pages!</h1>

<div class="container">
  <div class="row">
  <% @deputies.each do |deputy| %>
    <div class="card">
      <div class="card-description">
        <h1><%= deputy.first_name %> <%= deputy.last_name %></h2>
        <h2><%= deputy.title %></h2>
        <p><%= deputy.profession %></p>
      </div>
      <%= cl_image_tag deputy.photo, height: 300, width: 400, crop: :fill %>
    </div>
  <% end %>
  </div>

  <div>
     <%= link_to 'Completer mon équipe', new_deputy_path, class:"btn btn-warning" %>
  </div>

</div>

