<div class="home-header">
  <h1 class="program-title">Le Programme du FN</h1>
</div>
<div>
  <%= link_to 'Ajouter un programme', new_program_path, class: "btn-add" %>
</div>
<div class="container">
  <% @categories.each do |category| %>
    <% if @programs.where(category_id: category.id) != [] %>
    <div class="encart-program">
      <div class="cat-title">
        <h1><%= category.name %></h1>
      </div>
        <% @programs.where(category_id: category.id).each do |program|%>
        <div class="prog-title">
          <h3><%= program.title %></h3>
         <%= link_to "", edit_program_path(program), class: "fa fa-edit" %>
          <%= link_to "", program_path(program), method: :delete, class: "fa fa-remove" %>
        </div>
        <p><%= program.content %></p>
      <% end %>
      </div>
    <% end %>
  <% end %>
</div>
