<div class="home-header">
  <h1 class="program-title">Ajouter un programme</h1>
</div>

<div class="container">
   <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <h1>Nom du questionnaire: <%= @answer.question.questionnaire.title %></h1>
        <h2>Question: <%= @answer.question.question %></h2>
        <h2>Réponse: <%= @answer.answer %></h2>
        <%= simple_form_for @program  do |f| %>
          <!-- [...] -->
          <%= f.input :content, :label => "Saisissez l'élément du programme relatif à cette réponse"%>
          <%= f.hidden_field :answer_id, :value => @answer.id %>
          <%= f.submit 'Créer'%>
          <!-- [...] -->
        <% end %>
      </ul>
    </div>
  </div>

</div>
