console.log("<%= raw @answer.answer %>")
console.log("<%= raw @answer.id %>")

var updateAnswerForm = (()=> {
  var form = document.querySelector(".form-a");
  form.classList.remove("form-a");
  form.classList.add("form-a-<%= raw @answer.id %>");
  var btn = document.getElementById("btn-a");
  btn.removeAttribute("id");
  btn.id = ("btn-a-<%= raw @answer.id %>");
  var a = document.querySelector(".a");
  a.classList.remove("a");
  a.classList.add("a-<%= raw @answer.id %>")

  var input = document.createElement("input");
  setAttributes(input, {"type": "hidden", "name":"_method", "value": "patch"})
  form.appendChild(input);

  document.querySelector(".form-a-<%= raw @answer.id %>").classList.add("hidden");
});

var addAnswerDetails = (()=>{
  var upd = document.createElement("div");
  setAttributes(upd, {"class": "upd-a-<%= raw @answer.id %>"});
  var p = document.createElement("p");
  var strong = document.createElement("strong");
  p.appendChild(strong);
  strong.appendChild(document.createTextNode("Réponse:"));
  var p2 = document.createElement("p");
  setAttributes(p2, {"id": "p<%= raw @answer.id %>", "class": "a-<%= raw @answer.id %>", "OnClick": "toggleQ(this.className)"})
  p.appendChild(document.createTextNode("<%= raw @answer.answer %>"));
  var div = document.createElement("div");
  div.classList.add("tab-answer")
  var form = document.querySelector(".form-a-<%= raw @answer.id %>");
  console.log(form)
  upd.appendChild(p);
  upd.appendChild(p2);
  div.appendChild(upd);
  div.appendChild(form);
  newQ = document.querySelector(".new-q-<%= raw @answer.question_id %>");
  newQ.appendChild(div);
});


var addProgramForm = (()=>{
  var form = document.createElement("form");
  setAttributes(form, {"novalidate": "novalidate","id":"new_program", "class": "simple_form_new_program form-pr hidden", "action": "/answers/<%= @answer.id %>/programs", "accept-charset":"UTF-8", "data-remote": "true", "method": "post"})
  var input1 = document.createElement("input");
  setAttributes(input1, {"name":"utf8", "type": "hidden", "value": "✓"});

  var div =  document.createElement("div");
  setAttributes(div, {"class": "form-group text required program_program" });
  var label = document.createElement("label");
  setAttributes(label, {"class": "control-label text required", "for": "program_program"})
  label.appendChild(document.createTextNode("Programme:"))
  var input0 = document.createElement("input");
  setAttributes(input0, {"class":"form-control string optional pr", "type":"text", "name": "program[content]", "id": "program_program", "onblur":"toggleBlur(this.className)"});
  var submit = document.createElement("input");
  setAttributes(submit, {"type": "submit", "name": "commit", "value": "Create Program", "id": "btn-pr", "data-disable-with": "Create Program", "class": "hidden"});


  updPr = document.createElement("div");
  setAttributes(updPr,{"class": "upd-pr"});
  var p = document.createElement("p");
  var strong = document.createElement("strong");
  p.appendChild(strong);
  strong.appendChild(document.createTextNode("Programme associé:"));

  var btn = document.createElement("button");
  setAttributes(btn,{"id":"id-pr-<%= raw @answer.id %>", "class": "pr", "onClick": "toggleQ(this.className)"})
  btn.appendChild(document.createTextNode("Ajouter"));

  tabPr = document.createElement("div");
  setAttributes(tabPr, {"class":"tab-program"})

  newQ = document.querySelector(".new-q-<%= @answer.question_id %>")


  updPr.appendChild(p);
  updPr.appendChild(btn);

  div.appendChild(label);
  div.appendChild(input0);
  form.appendChild(input1);
  // form.appendChild(input2);
  // form.appendChild(input3);
  form.appendChild(div);
  form.appendChild(submit);
  tabPr.appendChild(form);
  tabPr.appendChild(updPr);
  newQ.appendChild(tabPr);
});


// var addAnswer = (()=>{

//   var tabAdd = document.createElement("div")
//   setAttributes(tabAdd,{"class": "btn-add-answer btn-orange", "href"})

// // <div class="tab-add-answer centerize">
// //       <a class="btn-add-answer btn-orange" href="/questionnaires/75/questions">Ajouter une réponse</a>
// //     </div>

// });

function setAttributes(el, attrs) {
  for(var key in attrs) {
    el.setAttribute(key, attrs[key]);
  }
};


updateAnswerForm();
addAnswerDetails();
addProgramForm();

