<div class="home-header">
  <h1 class="page_title">Tableau de bord</h1>
</div>
<div class="container">
<% if @city.nil? %>
  <div class="encart-ville">
    <div class="tab-title red">
      <h2>Ma ville</h2>
    </div>
  <%= link_to 'Ajouter ma ville...', new_city_path, class: "fa fa-arrow-circle-right" %>
  </div>
<% else %>
  <div class="encart-ville">
    <div class="tab-title red">
      <h2><%= @city.name %></h2>
    </div>
      <div class="city-details">
        <div class= "city-tab-admin">
          <p class="home-sub-title"><strong>Code postal: </strong><%= @city.zip_code %></p>
          <p class="home-sub-title"><strong>Departement: </strong><%= @city.departement %></p>
          <p class="home-sub-title"><strong>Région: </strong> <%= @city.region %></p>
          <%= link_to ' voir plus...', city_path(@city), class: "fa fa-arrow-circle-right" %>
        </div>
        <div class= "city-tab-photo">
        <% unless @city.photos == []  %>
          <%= cl_image_tag @city.photos.first.photo, class:'home-city-photo'%>
        <% end %>
        </div>
      </div>
  </div>
<% end %>
  <div class="encart-deputy">
    <div class="tab-title dark-blue">
      <h2>Mon équipe</h2>
    </div>
    <% @deputies.each do |deputy| %>
        <div class="dep-name-photo">
          <p class="home-sub-title"><strong><%= deputy.title %>: </strong><%= deputy.first_name %> <%= deputy.last_name %></p>
          <% if deputy[:photo].nil? %>
             <%= image_tag "empty_photo.jpg", class: "deputy-photo-home" %>
          <% else %>
            <%= cl_image_tag deputy.photo, class: "deputy-photo-home"%>
          <% end %>
        </div>
    <% end  %>
    <%= link_to ' voir plus...', deputies_path, class: "fa fa-arrow-circle-right" %>
  </div>

  <div class="encart-prog-complet">
    <div class="tab-title green">
      <h2>Questionnaires</h2>
    </div>
    <% @categories.each do |category| %>
      <% if @questionnaires.where(category_id: category.id) != [] %>
        <h4><strong><%= category.name %> :</strong></h4>
          <% @questionnaires.where(category_id: category.id).each do |questionnaire|%>
            <% if questionnaire.interviews.find_by(user: current_user).nil? %>
              <div class="questionnaires <%= "questionnaire-int-#{questionnaire.id}" %>">
                <p><%= link_to questionnaire.title, questionnaire_interviews_path(questionnaire, Interview.new), method: :post, class: "home-sub-title" %></p>
                <i class="fa fa-play-circle"></i>
              </div>
            <% else %>
              <div class="questionnaires">
                <p><%= link_to questionnaire.title, interview_path(@interviews.find_by(questionnaire: questionnaire).id), class:"home-sub-title"%></p>
                <% if @interviews.find_by(questionnaire: questionnaire).status.status == "done" %>
                  <i class="fa fa-check-circle"></i>
                <% else %>
                  <i class="fa fa-hourglass-start" ></i>
                <% end  %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="encart-prog-complet">
    <div class="tab-title blue-gray">
      <p>Mon programme</p>
    </div>
    <%= link_to "Mon programme complet", interviews_path, class:"home-sub-title" %>
  </div>

<% if policy(Questionnaire).show? %>
  <div class="encart-prog-complet">
    <div class="tab-title orange">
      <p>Création Questionnaire</p>
    </div>
    <% @categories.each do |category| %>
      <% if @questionnaires.where(category_id: category.id) != [] %>
      <h4><strong><%= category.name %> :</strong></h4>
        <% @questionnaires.where(category_id: category.id).each do |questionnaire|%>
      <div class="questionnaires <%="questionnaire-#{questionnaire.id}" %>">
        <p><%= link_to questionnaire.title, questionnaire_path(questionnaire),  class: "home-sub-title" %></p>
        <a type="button" id="<%= "btn-#{questionnaire.id}" %>" class="fa fa-remove delete-q" onClick="deleteQuestionnaire(this.id)"></a>
        <%= link_to "", questionnaire_path(questionnaire), method: :delete, remote: true, id:"d-btn-#{questionnaire.id}", class: "hidden" %>
      </div>
        <% end  %>
      <% end  %>
    <% end  %>
    <%= link_to 'Créer questionnaire', new_questionnaire_path, class: "fa fa-arrow-circle-right" %>
  </div>
<% end %>
</div>

<%= javascript_pack_tag 'questionnaire' %>
