<div class="home-header">
  <h1 class="page_title">Tableau de bord</h1>
</div>
<div class="container">
<% if @city.nil? %>
  <div class="encart-ville">
    <div class="city-name">
      <h2>Ma ville</h2>
    </div>
  <%= link_to 'Ajouter ma ville...', new_city_path, class: "fa fa-arrow-circle-right" %>
  </div>
<% else %>
  <div class="encart-ville">
    <div class="city-name">
      <h2><%= @city.name %></h2>
    </div>
      <div class="city-details">
        <div class= "city-tab-admin">
          <p><strong>Code postal: </strong><%= @city.zip_code %></p>
          <p><strong>Departement: </strong><%= @city.departement %></p>
          <p><strong>Région: </strong> <%= @city.region %></p>
          <%= link_to ' voir plus...', city_path(@city), class: "fa fa-arrow-circle-right" %>
        </div>
        <div class= "city-tab-photo">
        <% unless @city.photos == []  %>
          <%= cl_image_tag @city.photos.first.photo, class:'home-city-photo'%>
        <% end %>
        </div>
      </div>
  </div>
<% end %>
  <div class="encart-deputy">
    <div class="deputy-tab-title">
      <h2>Mon équipe</h2>
    </div>
    <% @deputies.each do |deputy| %>
        <div class="dep-name-photo">
          <p><strong><%= deputy.title %>: </strong><%= deputy.first_name %> <%= deputy.last_name %></p>
          <% if deputy[:photo].nil? %>
             <%= image_tag "empty_photo.jpg", class: "deputy-photo-home" %>
          <% else %>
            <%= cl_image_tag deputy.photo, class: "deputy-photo-home"%>
          <% end %>
        </div>
    <% end  %>
    <%= link_to ' voir plus...', deputies_path, class: "fa fa-arrow-circle-right" %>
  </div>

  <div class="encart-prog-complet">
    <div class="prog-tab-title">
      <h2>Questionnaires</h2>
    </div>
    <% @categories.each do |category| %>
      <% if @questionnaires.where(category_id: category.id) != [] %>
        <h4><strong><%= category.name %> :</strong></h4>
          <% @questionnaires.where(category_id: category.id).each do |questionnaire|%>
            <% if questionnaire.interviews.find_by(user: current_user).nil? %>
              <div class="questionnaires">
                <p><%= link_to questionnaire.title, questionnaire_interviews_path(questionnaire, Interview.new), method: :post %></p>
                <i class="fa fa-play-circle"></i>
              </div>
            <% else %>
              <div class="questionnaires">
                <p><%= link_to questionnaire.title, interview_path(@interviews.find_by(questionnaire: questionnaire).id)%></p>
                <% if @interviews.find_by(questionnaire: questionnaire).status.status == "done" %>
                  <i class="fa fa-check-circle"></i>
                <% else %>
                  <i class="fa fa-hourglass-start" ></i>
                <% end  %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="encart-prog-complet">
    <div class="prog-tab-title">
      <h2>Le programme complet</h2>
    </div>
    <%= link_to "Mon programme", interviews_path, class: "fa fa-arrow-circle-right" %>
    <%# @categories.each do |category| %>
    <%# if @user_programs.where(category_id: category) != [] %>
    <%# link_to category.name, user_program_path() %>
    <%# end %>
  </div>
</div>
