<div class="home-header">
  <h1 class="page_title dark-gray">Tableau de bord</h1>
</div>
<div class="container">
<% if policy(Questionnaire).show? %>
    <%= link_to 'Créer nouveau questionnaire', new_questionnaire_path, class: "btn-restart btn-red centerize" %>
  <div class="encart-prog-complet">
    <div class="tab-title dark-blue">
      <p>Modifier questionnaires</p>
    </div>
    <% @categories.each do |category| %>
      <!-- for sortable order questionnaire we pass the category. name to sortable.js using dataset function -->
      <div id = "category-array" class="hidden" data-categories="<%= @categories_names %>"></div>
      <div id ="listWithHandle-<%= category.name%>" class="home-sub-title list-group"><strong><%= category.name %> :</strong>
      <% @questionnaires.where(category_id: category.id).order(:order).each do |questionnaire|%>
        <div class="grabbable list-group-item <%=category.name%>" ondragend="orderQuest(this.className)">
          <span id="badge-<%= questionnaire.id%>" class="badge"><%= questionnaire.order %></span>
          <!-- span class= "glyphicon glyphicon-move <%=category.name%>" draggable="true" ondragend="orderQuest(this.className)"></span> -->
         <label class="switch">
           <input data-activated="<%= questionnaire.activated %>" type="checkbox" class="check" id="checkbox-<%=questionnaire.id%>" onchange="setCheck(this.id)">
           <span class="slider round"></span>
         </label>
          <%= link_to questionnaire.title, questionnaire_path(questionnaire),  class: "home-sub-title" %>
          <span class="question-number">(<%= questionnaire.questions.count %> quest.)</span>
          <div class="hidden q-id-<%= category.name %>"><%= questionnaire.id %></div>
        </div>
         <div class="hidden">
          <%= simple_form_for questionnaire, remote: true do |f| %>
          <%= f.input :activated,  as: :boolean, boolean_style: :inline, :input_html => {class: "activated-checkbox-#{questionnaire.id}"} %>
          <%= f.submit class: "btn-activated-checkbox-#{questionnaire.id}" %>
          <% end %>
         </div>
        <% end  %> <!-- each.questionnaire -->
      </div>
      <div class="hidden">
        <%= simple_form_for Questionnaire.new, :url => order_questionnaires_questionnaires_path, method: :post, remote: true do |f| %>
         <%= f.input :questionnaire_ids, :input_html => {id:"form-#{category.name}"} %>
         <%= f.hidden_field :category_id %>
        <%= f.submit id:"btn-#{category.name}" %>
        <% end %>
      </div>
    <% end  %> <!-- each.categor -->
  </div>


<% end %> <!-- if policy -->

<% if current_user.role.role == "user" %>

<% if @city.nil? %>
  <div class="encart-ville">
    <div class="tab-title red">
      <h2>Ma ville</h2>
    </div>
  <%= link_to 'Ajouter ma ville...', new_city_path, class: "fa fa-arrow-circle-right link" %>
  </div>
<% else %>
  <div class="encart-ville">
    <div class="tab-title red">
      <h2><%= @city.name %></h2>
    </div>
      <div class="city-details list-group-item">
        <div class= "city-tab-admin">
          <p class="home-sub-title"><strong>Code postal: </strong><%= @city.zip_code %></p>
          <p class="home-sub-title"><strong>Departement: </strong><%= @city.departement %></p>
          <p class="home-sub-title"><strong>Région: </strong> <%= @city.region %></p>
        </div>
        <div class= "city-tab-photo">
        <% unless @photo.nil?  %>
          <%= cl_image_tag @photo.photo, class:'home-city-photo'%>
        <% end %>
        </div>
      </div>
          <%= link_to ' voir plus...', city_path(@city), class: "fa fa-arrow-circle-right link" %>
  </div>
<% end %>
  <div class="encart-deputy">
    <div class="tab-title dark-blue">
      <h2>Mon équipe</h2>
    </div>
    <% @deputies.each do |deputy| %>
        <div class="dep-name-photo list-group-item">
          <div>
            <p class="home-sub-title"><strong><%= deputy.title %></strong></p>
            <p class="home-sub-title"><%= deputy.first_name %> <%= deputy.last_name %></p>
            <p class="home-sub-sub-title"><%= deputy.profession %></p>
          </div>
          <% if deputy[:photo].nil? %>
             <%= image_tag "empty_photo.jpg", class: "deputy-photo-home" %>
          <% else %>
            <%= cl_image_tag deputy.photo, class: "deputy-photo-home"%>
          <% end %>
        </div>
    <% end  %>
    <%= link_to ' voir plus...', deputies_path, class: "fa fa-arrow-circle-right link" %>
  </div>



  <% if @interviews.where(status: Status.find_by(status:"done")) != [] %>

  <div class="encart-prog-complet">
    <div class="tab-title blue-gray">
      <p>Mes programmes</p>
    </div>
    <% @categories.each do |category| %>
      <% if @interviews.where(category_id: category.id) != [] %>
       <div class ="list-group-item">
        <%= link_to category.name, my_program_interviews_path(category_id: category), class: "home-sub-title" %>
        <% if @photos.nil?%>
        <p>ajouter une illustration</p>
        <% else %>
        <%= cl_image_tag @photos.where(category_id: category.id), class:'home-city-photo'%>
        <% end  %> <!-- end unless no photo -->

      </div>
      <% end  %> <!-- end if no category -->
    <% end  %> <!-- end each category -->
    <div class ="list-group-item">
    <%= link_to "Mon programme complet", interviews_path, class:"home-sub-title" %>
    </div>
  </div>

  <% end  %>

  <div class="encart-prog-complet">
    <div class="tab-title beige">
      <h2>Questionnaires</h2>
    </div>
    <% @categories.each do |category| %>
      <% if @questionnaires.where(category_id: category.id) != [] %>
        <div class="home-sub-title"><strong><%= category.name %> :</strong></div>
          <% @questionnaires.where(category_id: category.id).where(activated: true).each do |questionnaire|%>
            <% if questionnaire.interviews.find_by(user: current_user).nil? %>
              <div class="questionnaires <%= "questionnaire-int-#{questionnaire.id}" %> list-group-item">
                <p><%= link_to questionnaire.title, questionnaire_interviews_path(questionnaire, Interview.new), method: :post, class: "home-sub-title" %></p>
                <i class="fa fa-play-circle"></i>
              </div>
            <% else %>
              <div class="questionnaires list-group-item">
                <p><%= link_to questionnaire.title, interview_path(@interviews.find_by(questionnaire: questionnaire).id), class:"home-sub-title"%></p>
                <% if @interviews.find_by(questionnaire: questionnaire).status.status == "done" %>
                  <i class="fa fa-check-circle"></i>
                <% else %>
                  <i class="fa fa-hourglass-start" ></i>
                <% end  %>
              </div>
            <% end %>
          <% end %>
      <% end %>
    <% end %>
  </div>


<% end %>
</div>
<br>
<br>
<br>

<%= javascript_pack_tag 'questionnaire' %>
<%= javascript_pack_tag 'sortable' %>
