<div class="home-header">
  <h1 class="program-title">Création questionnaire</h1>
</div>
<div class="container">
  <div class="show-program">
    <div class="cat-title">
      <h1><%= @questionnaire.title %></h1>
    </div>
  </div>
  <div>
    <h2><strong>Categorie: </strong> <%= @questionnaire.category.name %></h2>
  </div>
  <br>
  <div>
    <button id="create-q" class= "btn-restart btn-red centerize" onClick="addQuestionForm()")>Ajouter une question</button>
    <%#= link_to "Ajouter une question", new_questionnaire_question_path(@questionnaire),class: "btn-restart btn-red centerize" %>
  </div>
  <br>
  <br>

<!-- HIDDEN QUESTION TAB FOR JS-->

<!--     <div class= "hidden-tab-question hidden">
      <div>
         <a type="button" id="btn-dq" class="fa fa-remove delete-q" onClick="deleteQuestion(this.id)"></a>
        <%#= link_to "", question_path(), method: :delete, id:"d-btn-dq", class: "hidden" %>
        <div class="upd-q">
          <! if class added, put it before  "<%#="q-#{question.id}"%> -->
          <!-- <div id="h3" class= "first-q q" onClick="toggleQ(this.className)"></div>
        </div>

      <div class="form-q">
        <%#= simple_form_for @question, remote: true do |f| %>
        <! ne pas rajouter de class à f.input :answer sinon questionnaire.js (function toggleBlur) pete!! -->
        <%#= f.input :question, :label => "Question: ", :input_html => {class: "q", :onblur => "toggleBlur(this.className)"}  %>
        <%#= f.hidden_field :questionnaire_id, :value => @questionnaire.id %>
        <%#= f.submit class: "hidden", id:"btn-q" %>
        <%# end %>
     <!--  </div>
    </div>
  </div>  -->



  <div id="js-area"></div>


<!-- <div>
  <#%= simple_form_for [@questionnaire, @question], remote: true do |f| %>
  <#%= f.input :question %>
  <%#= f.submit "add" %>
  <#% end  %>
</div>
 -->

    <% @questionnaire.questions.each do |question|%>

  <div id="<%= "question#{question.id}" %>"class="tab-question">
    <div>
      <a type="button" id="<%= "btn-dq-#{question.id}" %>" class="fa fa-remove delete-q" onClick="deleteQuestion(this.id)"></a>
      <%= link_to "", question_path(question.id), method: :delete, remote: true, id:"d-btn-dq-#{question.id}", class: "hidden" %>
      <div class="<%="upd-q-#{question.id}"%>">
        <!-- if class added, put it before  "<%#="q-#{question.id}"%> -->
        <div id="<%= "h3#{question.id}" %>" class= "first-q <%="q-#{question.id}"%>" onClick="toggleQ(this.className)"> <%= question.question %></div>
      </div>
      <div class="<%="form-q-#{question.id}"%> hidden">
      <%= simple_form_for [@questionnaire, question], remote: true do |f| %>
      <!-- ne pas rajouter de class à f.input :question sinon questionnaire.js (function toggleBlur) pete!! -->
      <%= f.input :question, :label => "Question: ", :input_html => {class: "q-#{question.id}", :onblur => "toggleBlur(this.className)"}  %>
      <%= f.submit class: "hidden", id:"btn-q-#{question.id}" %>
      <% end %>
      </div>
    </div>


      <% if question.answers == [] %>


    <div class= "tab-answer">
      <div class="upd-a hidden">
        <p><strong>Réponse: </strong></p>
        <p id= "p" class="a" ></p>
      </div>
      <div class="form-a">
        <%= simple_form_for [question, @answer], remote: true do |f| %>
        <!-- ne pas rajouter de class à f.input :answer sinon questionnaire.js (function toggleBlur) pete!! -->
        <%= f.input :answer, :label => "Réponse: ", :input_html => {class: "a", :onblur => "toggleBlur(this.className)"}  %>
        <%= f.submit class: "hidden", id:"btn-a" %>
        <% end %>
      </div>
    </div>


    <!-- HIDDEN PROGRAM TAB for JS -->
<!--
    <div class= "hidden-tab-program hidden">
      <%# @program = Program.new%>
      <div class="<#%= "hidden-upd-pr" %>">
        <p><strong>Programme associé: </strong></p>
        <! if class added, put it before  "<%#="q-#{question.id}"%> -->
<!--         <button id= "<%#= "hidden-id-pr" %>", class="add-answer hidden-pr", onClick=toggleQ(this.className)>Ajouter</button>
      </div>
      <div class="<%#= "hidden-form-pr"%> hidden">
        <%#= simple_form_for @program, remote: true do |f| %>
        ne pas rajouter de class à f.input :content sinon questionnaire.js (function toggleBlur) pete!!
        <%#= f.input :content, :label => "Programme associé: ", :input_html => {class: "hidden-pr", :onblur => "toggleBlur(this.className)"} %>
        <%#= f.hidden_field  :answer_id, class: "answer-field" %>
        <%#= f.submit class: "hidden", id: "hidden-btn-pr"%>
        <%#end  %>
      </div>
    </div>
 -->
 <!-- HIDDEN NEXT QUESTION TAB for JS -->
<!--
    <div class= "hidden-tab-next-question hidden">
      <%#= simple_form_for @answer, remote: true do |f| %>
      <%#= f.input :next_question_id, :label => "Question suivante: ", collection: @questionnaire.questions.collect{|question| [question.question, question.id]}, :input_html => {:onclick => "addNextQuestion(this.id)", :id => "hidden-selector"} %>
      <%#= f.submit  class: "hidden", id: "hidden-btn-selector" %>
      <%# end %>
    </div> -->



      <% else  %><!-- else if question.answers != [] -->


        <% question.answers.each do |answer| %>


    <div class= "tab-answer">
      <div class="<%="upd-a-#{answer.id}"%>">
        <p><strong>Réponse: </strong></p>
        <p id="<%= "p#{answer.id}" %>" class="<%="a-#{answer.id}"%>" onClick="toggleQ(this.className)" ><%= answer.answer %></p>
      </div>
      <div class="<%= "form-a-#{answer.id}" %> hidden">
        <%= simple_form_for answer, remote: true do |f| %>
        <!-- ne pas rajouter de class à f.input :answer sinon questionnaire.js (function toggleBlur) pete!! -->
        <%= f.input :answer, :label => "Réponse: ", :input_html => {class: "a-#{answer.id}", :onblur => "toggleBlur(this.className)"}  %>
        <%= f.submit class: "hidden", id:"btn-a-#{answer.id}" %>
        <%end  %>
      </div>
    </div>


          <% if answer.program != nil %>


    <div class= "tab-program">
      <!-- For the class and id below I take #{answer.id} instead of #{@program.id} because the same logic apply for creation (when answer.program.nil = true) -->
      <% @program = answer.program %>
      <div class="<%= "upd-pr-#{answer.id}" %>">
        <p><strong>Programme associé: </strong></p>
        <p id= "<%= "id-pr-#{answer.id}" %>", class="<%="pr-#{answer.id}"%>", onClick=toggleQ(this.className) ><%= @program.content%></p>
      </div>
      <div class="<%= "form-pr-#{answer.id}"%> hidden">
        <%= simple_form_for [answer, @program], remote: true do |f| %>
        <!-- ne pas rajouter de class à f.input :content sinon questionnaire.js (function toggleBlur) pete!! -->
        <%= f.input :content, :label => "Programme associé: ", :input_html => {class: "pr-#{answer.id}", :onblur => "toggleBlur(this.className)"} %>
        <%= f.submit class: "hidden", id: "btn-pr-#{answer.id}"%>
        <%end  %>
      </div>
    </div>

          <% else %> <!-- else if answer.program == nil -->


    <div class= "tab-program">
      <% @program = Program.new%>
      <div class="<%= "upd-pr-#{answer.id}" %>">
        <p><strong>Programme associé: </strong></p>
        <!-- if class added, put it before  <%#="pr-#{answer.id}"%> -->
        <button id= "<%= "id-pr-#{answer.id}" %>", class="add-answer <%="pr-#{answer.id}"%>", onClick=toggleQ(this.className)>Ajouter</button>
      </div>
      <div class="<%= "form-pr-#{answer.id}"%> hidden">
        <%= simple_form_for [answer, @program], remote: true do |f| %>
        <!-- ne pas rajouter de class à f.input :content sinon questionnaire.js (function toggleBlur) pete!! -->
        <%= f.input :content, :label => "Programme associé: ", :input_html => {class: "pr-#{answer.id}", :onblur => "toggleBlur(this.className)"} %>
        <%= f.submit class: "hidden", id: "btn-pr-#{answer.id}"%>
        <%end  %>
      </div>
    </div>


          <% end %><!-- end of if answer.program != nil -->


    <div class= "tab-next-question <%= "tnq-#{question.id}" %>">
      <%= simple_form_for answer, remote: true do |f| %>
      <%= f.input :next_question_id, :label => "Question suivante: ", collection: @questionnaire.questions.collect{|question| [question.question, question.id]}, :input_html => {:onclick => "addNextQuestion(this.id)", :id => "selector#{answer.id}"} %>
      <%= f.submit  class: "hidden", id: "btn-selector#{answer.id}" %>
      <% end %>
    </div>


        <% end %><!-- end of each.answers -->


    <div class= "tab-add-answer centerize">
      <button  id="<%= "#{question.id}" %>" class="btn-add-answer btn-orange" onClick="addAnswer(this.id)">Ajouter une question</button>
    </div>


      <% end %><!-- end of if question.answers == [] -->

  </div> <!-- div de tab-question -->

    <% end %><!-- end of each.questions -->



</div>
<div id="questionnaire" class="hidden" data-questionnaire_id= "<%= @questionnaire.id %>">
</div>
<br>
<br>
<br>
<%= javascript_pack_tag 'questionnaire' %>
  <script>
  </script>
