<div class="home-header">
  <h1 class="program-title">Modifier <%= @city.name %></h1>
</div>
<div>
  <%= link_to 'Annuler', city_path(@city), class:"btn-add" %>
</div>
<div class="container">
  <div class="grid">
    <div class="f-new">
      <ul class="new-form">
        <%= simple_form_for @city do |f| %>
          <%= f.input :name%>
          <%= f.input :zip_code %>
          <%= f.input :departement %>
          <%= f.input :region %>
          <%= f.input :intercommunalite %>
          <%= f.input :population %>
          <%= f.input :density %>
          <%= f.input :debt %>
          <%= f.input :current_maire %>
          <%= f.input :photo_1 %>
          <%= f.input :photo_2 %>
          <%= f.input :photo_3 %>
          <%= f.submit 'Modifier'%>
          <!-- [...] -->
        <% end %>
      </ul>
    </div>
  </div>
</div>
