<div class="header-show-flex">
  <div class="home-header">
    <h1 class="program-title"><%= @city.name %></h1>
  </div>
  <div>
    <div>
      <%= link_to 'Modifier', edit_city_path(@city), class: "btn-show" %>
    </div>
    <br>
    <br>
    <div>
      <%= link_to 'Supprimer', city_path(@city), method: :delete, class: "btn-show" %>
    </div>
  </div>
</div>
<div>
  <div class="rubrique-show">
    <div class="cat-title">
      <h1>Administratif</h1>
    </div>
    <p><strong>Departement: </strong><%= @city.departement %></p>
    <p><strong>Région: </strong><%= @city.region %></p>
    <p><strong>Canton: </strong><%= @city.canton %></p>
    <p><strong>Intercommunalité: </strong><%= @city.intercommunalite %></p>
    <p><strong>Maire actuel: </strong><%= @city.current_maire %></p>
    <p><strong>Code Postal: </strong><%= @city.zip_code %></p>
    <p><strong>Code Commune: </strong><%= @city.code_commune %></p>
  </div>
  <div class="rubrique-show">
    <div class="cat-title">
      <h1>Démographie</h1>
    </div>
    <p><strong>Gentilé: </strong><%= @city.gentile %></p>
    <p><strong>Population: </strong><%= @city.population %></p>
    <p><strong>Densité: </strong><%= @city.density %></p>
  </div>
  <div class="rubrique-show">
    <div class="cat-title">
      <h1>Géographie</h1>
    </div>
    <p><strong>Latitude: </strong><%= @city.latitude %></p>
    <p><strong>Longitude: </strong><%= @city.longitude %></p>
    <p><strong>Altitude: </strong><%= @city.height %></p>
    <p><strong>Superficie: </strong><%= @city.superficy %></p>
  </div>
  <div class="diaporama">
    <div class="cat-title">
      <h1>Diaporama</h1>
    </div>
    <div>
      <% @photos.each do |picture| %>
        <div class="card "
          style="background-image: url('<%= cl_image_path picture.photo, height: 300, width: 400, crop: :fill %>')">
        <%= link_to "", city_photo_path(@city.id, picture.id), method: :delete, class: "fa fa-trash del-pos-card"  %>
      </div>
      <% end %>
    </div>
    <br>
    <div>
      <%= simple_form_for [@city, @photo] do |f| %>
      <%= f.file_field :photo %>
      <%= f.submit "Ajouter"%>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 50%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>"
  data-coordinates="<%= @coordinates.to_json%>"
></div>
</div>

