<div>
  <div class=city-admin>
    <div class="header">
      <h1><%= @city.name %></h1>
      <div>
        <%= link_to '', edit_city_path(@city),class: "fa fa-edit" %>
        <%= link_to '', city_path(@city), method: :delete, class: "fa fa-remove" %>
      </div>
    </div>
    <p><strong>Code Postal: </strong><%= @city.zip_code %></p>
    <p><strong>Departement: </strong><%= @city.departement %></p>
    <p><strong>Région: </strong><%= @city.region %></p>
    <p><strong>Intercommunalité: </strong><%= @city.intercommunalite %></p>
    <br>
    <h2>Maire actuel: <%= @city.current_maire %></h2>
    <br>
    <p>Population: <%= @city.population %></p>
    <p>Densité: <%= @city.density %></p>
    <br>
    <p>Dette: <%= @city.debt %></p>
    <br>
    <%= cl_image_tag @city.photo_1, height: 300, width: 400, crop: :fill %>
    <%= cl_image_tag @city.photo_2, height: 300, width: 400, crop: :fill %>
    <%= cl_image_tag @city.photo_3, height: 300, width: 400, crop: :fill %>
    <br>
  </div>
</div>
