<div class="home-header">
  <h1 class="program-title"><%= @city.name %></h1>
</div>
<div>
  <%= link_to 'Modifier', edit_city_path(@city), class: "btn-add" %>
</div>
<div class="container">
  <div class="encart-program">
    <div class="cat-title">
      <h1>Administratif</h1>
    </div>
    <p><strong>Departement: </strong><%= @city.departement %></p>
    <p><strong>Région: </strong><%= @city.region %></p>
    <p><strong>Canton: </strong><%= @city.canton %></p>
    <p><strong>Intercommunalité: </strong><%= @city.intercommunalite %></p>
    <p><strong>Maire actuel: </strong><%= @city.current_maire %></p>
    <p><strong>Code Postal: </strong><%= @city.zip_code %></p>
    <p><strong>Code Commune: </strong><%= @city.code_commune %></p>
  </div>
  <div class="encart-program">
    <div class="cat-title">
      <h1>Démographie</h1>
    </div>
    <p><strong>Gentilé: </strong><%= @city.gentile %></p>
    <p><strong>Population: </strong><%= @city.population %></p>
    <p><strong>Densité: </strong><%= @city.density %></p>
  </div>
  <div class="encart-program">
    <div class="cat-title">
      <h1>Géographie</h1>
    </div>
    <p><strong>Coordonnées: </strong><%= @city.coordinates %></p>
    <p><strong>Altitude: </strong><%= @city.height %></p>
    <p><strong>Superficie: </strong><%= @city.superficy %></p>
  </div>
  <div class="encart-program">
    <div class="cat-title">
      <h1>Diaporama</h1>
        <%= @photos.each do |ph| %>
        <%= cl_image_tag ph.photo , height: 300, width: 400, crop: :fill %>
        <% end %>
     <div>
        <%= simple_form_for [@city, @photo], html:  {multipart: true} do |f| %>
        <%= f.file_field :photo %>
        <%= f.submit %>
       <% end %>
     </div>
    </div>
  </div>
</div>

