<div class="home-header">
  <h1 class="program-title"><%= @city.name %></h1>
</div>
<div>
<div>
  <%= link_to 'Modifier', edit_city_path(@city), class: "btn-add" %>
</div>
<div class="container">
  <div class=city-admin>
        <p><strong>Code Postal: </strong><%= @city.zip_code %></p>
    <p><strong>Departement: </strong><%= @city.departement %></p>
    <p><strong>Région: </strong><%= @city.region %></p>
    <p><strong>Intercommunalité: </strong><%= @city.intercommunalite %></p>
    <br>
    <h2>Maire actuel: <%= @city.current_maire %></h2>
    <br>
    <p>Population: <%= @city.population %></p>
    <p>Densité: <%= @city.density %></p>
    <br>
    <p>Dette: <%= @city.debt %></p>
    <br>
    <%= cl_image_tag @city.photo_1, height: 300, width: 400, crop: :fill %>
    <%= cl_image_tag @city.photo_2, height: 300, width: 400, crop: :fill %>
    <%= cl_image_tag @city.photo_3, height: 300, width: 400, crop: :fill %>
    <br>
  </div>
</div>
