<div class="home-header">
    <h1 class="page_title blue-gray"><%= @city.name %></h1>
</div>
<div>
  <div class="container">
    <div class="cat-title">
        <h1>Cartographie</h1>
    </div>
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-coordinates="<%= @city.city_coordinates.to_json%>"
      data-epci_coordinates = "<%= @intercommunalite.epci_coordinates.to_json %>">
      </div>
    <div class="cat-title">
        <h1>Informations utiles</h1>
    </div>
    <!-- <div class="city-board"> -->
    <div class="rubrique-show">
      <div class="rub-title beige">Administratif</div>
      <div class="rub-p">
        <p><strong>Departement: </strong><%= @city.departement %></p>
        <p><strong>Région: </strong><%= @city.region %></p>
        <p><strong>Canton: </strong><%= @city.canton %></p>
        <p><strong>Intercommunalité: </strong><%= @intercommunalite.name %></p>
        <p><strong>Maire actuel: </strong><%= @city.current_maire %></p>
        <p><strong>Code Postal: </strong><%= @city.zip_code %></p>
        <p><strong>Code Commune: </strong><%= @city.code_commune %></p>
        </div>
      <div class="rub-title red">Démographie</div>
      <div class="rub-p">
        <p><strong>Gentilé: </strong><%= @city.gentile %></p>
        <p><strong>Population: </strong><%= @city.population %></p>
        <p><strong>Densité: </strong><%= @city.density %></p>
      </div>
      <div class="rub-title dark-taupe">Géographie</div>
      <div class="rub-p">
        <p><strong>Latitude: </strong><%= @city.latitude %></p>
        <p><strong>Longitude: </strong><%= @city.longitude %></p>
        <p><strong>Altitude: </strong><%= @city.height %></p>
        <p><strong>Superficie: </strong><%= @city.superficy %></p>
      </div>
    </div>
    <!-- </div> -->
    <div class="cat-title">
      <h1>Diaporama</h1>
    </div>
    <div class="photo-city">
      <% @photos.each do |photo| %>
        <div class="card "
          style="background-image: url('<%= cl_image_path photo.photo, height: 300, width: 400, crop: :fill %>')">
        <a type="button" onClick="deletePhoto(this.id)" id ="del-city-photo-<%= photo.id %>" class = "fa fa-trash del-pos-card"></a>
        <%= link_to "", photo_path(photo.id, city_id: @city.id), method: :delete, id: "btn-del-city-photo-#{photo.id}", class: "hidden"  %>
      </div>
      <% end %>
    </div>
    <p class="notice centerize">Ajouter une photo</p>
    <a id="city-photo" class= "fa fa-plus-circle centerize" onClick="addPhoto(this.id)"></a>
    <div class = "hidden">
      <%= simple_form_for Photo.new do |f| %>
      <%= f.input :photo, :input_html => {id: "add-city-photo", onchange:"loadPhoto(this.id)"} %>
      <%= f.hidden_field :city_id, :value => @city.id %>
      <%= f.submit id: "btn-add-city-photo" %>
      <% end %>
    </div>
  <br>
  <br>
    <div class="city-button">
      <%= link_to 'Modifier ma ville', edit_city_path(@city), class: "btn-restart btn-orange" %>
      <button type=button id="delete-city-button" class="btn-restart btn-red">Supprimer ma Ville</button>
      <%= link_to 'Supprimer ma ville', city_path(@city), method: :delete, class: "hidden", id:"delete-city" %>
    </div>
  <br>
  <br>
</div>
<%= javascript_pack_tag 'swal_city' %>
<%= javascript_pack_tag 'questionnaire' %>
